.RealClassVideoSection {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    padding: 1rem;
}

.RealClassVideoSection > .headlineRealClassVideo {
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    width: 100%;
    margin-bottom: 2rem;
}

.RealClassVideoSection > .headlineRealClassVideo > h2 {
    font-size: 4rem;
    color: var(--purple-primary);
}

.RealClassVideoSection > .headlineRealClassVideo > p {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.4;
    letter-spacing: 1.5px;
    max-width: 1200px;
    margin: 10px 0px;
}

.RealClassVideoSection > .videoDiv {
    width: 60vw;
    height: 60vh;
}

.RealClassVideoSection > .videoDiv > iframe {
    border: none;
    height: 100%;
    width: 100%;
    box-shadow: var(--box-shadow-default);
}

@media screen and (max-width: 1024px) {
    .RealClassVideoSection > .headlineRealClassVideo > p {
        text-align: justify;
    }

    .RealClassVideoSection > .videoDiv {
        width: 90vw;
        height: 60vh;
    }
}

@media screen and (max-width: 450px) {
    .RealClassVideoSection > .headlineRealClassVideo > h2 {
        font-size: 2.5rem
    }

    .RealClassVideoSection > .headlineRealClassVideo > p {
        margin-top: 30px;
        text-align: justify;
    }

    .RealClassVideoSection > .videoDiv {
        width: 95vw;
        height: 40vh;
    }
}