:root {
  --background: #ffffff;
  --background-reverse: #000000;
  --text-color: #000000;
  --text-color-reverse: #ffffff;
  --purple-primary: #76094d;
}

.DarkTheme {
  --background: #000000;
  --background-reverse: #ffffff;
  --text-color: #ffffff;
  --text-color-reverse: #000000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: var(--text-color);
  background: var(--background);
  height: 100vh;
  width: 100vw;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}